{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Google</title>
		<link href="{% static 'index/styles.css' %}" rel="stylesheet">
		<link rel="icon" href="{% static 'index/google-icon.png' %}">

    </head>
    <body>
		
		<header>
			<nav>
				<ul class="header-nav">
					<a href="#">About</a>
					<a href="#">Store</a>
				</ul>
				<ul class="header-nav">
					<a href="#">Gmail</a>
					<a href="#">Images</a>
					<img class="header-img" src="{% static 'index/google-aps.png' %}" alt="google-apps"
						width="25"
						height="25"/>
					<img class="header-img" src="{% static 'index/google-pfp.png' %}" alt="google-pfp"
						width="25"
						height=25"/>
				</ul>
			</nav>
		</header> 

		<section>
			<h1>
				<span style="color: #4285F4;">G</span>
				<span style="color: #DB4437;">o</span>
				<span style="color: #F4B400;">o</span>
				<span style="color: #4285F4;">g</span>
				<span style="color: #0F9D58;">l</span>
				<span style="color: #DB4437;">e</span>
			</h1>
			<div class="my-input-container">
				<img src="{% static 'index/mag-glass.png' %}" alt="mag-glass"
					width="25"
					height="25"/>
				<form action="http://www.google.com/search">
				<input type="text" class="no-outline" name="q">
				</form>
				<img src="{% static 'index/mic.png' %}" alt="mic"
					width="25"
					height="25"/>
			</div>

			<div class="my-button-container">
				<button>Google Search</button>
				<button>I'm Feeling Lucky</button>
			</div>
		</section>
    </body>
</html>
